{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %} Вход {% endblock %}
{% block content %}
<div class="logout_form">
	<h2 style="margin: 0 auto; max-width:80px; padding-bottom: 30px;">Вход</h2>
	{% if user.is_authenticated %}
		<p >Вы уже выполнили вход</p>
	{% else %}
		<form method="post">
			{% csrf_token %}
			{% bootstrap_form form layout='horizontal' %}
			<input type="hidden" name="next" value="{{ next }}">
			<div style="margin: 0 auto; width:100px; ">
				{% buttons submit='Войти' %}{% endbuttons %}
			</div>
		</form>
	{% endif %}
</div>	
{% endblock %}